*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.btn {
    height: 40px;
    width: 40px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.my-swal-title {
    color: blue !important;
}
.light-mode {
    --clr-bg-1: #f0f0f0;
    --clr-bg-2: #fff;
    --clr-bg-3: #ccc;
    --clr-title: #222;
    --clr-text: #4c4c4c;
    --clr-alert: #df372b;
    --clr-confirm: rgb(56, 146, 194);
    --clr-button: #f0f0f0;
    --clr-placeholder: #000;
    --clr-theme-mode: #111111;
    --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.dark-mode {
    --clr-bg-1: #111111;
    --clr-bg-2: #272724;
    --clr-bg-3: #737373;
    --clr-title: #d4d3d3;
    --clr-text: #969593;
    --clr-alert: #df372b;
    --clr-confirm: #00913C;
    --clr-button: #d4d3d3;
    --clr-placeholder: #fff;
    --clr-theme-mode: #f0f0f0;  
    --shadow: 0 5px 15px rgba(77, 77, 77, 0.2);
}
.title{
    color: var(--clr-title);
    font-size: 16px;
}
.text{
    color: var(--clr-text);
    font-size: 13px;
}
input:focus-within {
    outline: none;
}
textarea:focus-within {
    outline: none;
}

